<div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-5" th:fragment="tile_client">
    <!--/*@thymesVar id="client" type="ru.alexeyk2021.dbweb.models.Client"*/-->

    <div class="tile" th:each="client: ${clients_list}">
        <label class="l1" th:text="*{client.getPhoneNumber()}"></label>
        <div>
            <label class="left l2">Тариф:</label>
            <label class="right l2" th:text="*{client.getTariff().getName()}"></label>
        </div>
        <div>
            <label class="left l2">ФИО:</label>
            <label class="right l2" th:text="*{client.getPersonalInfo().getShortName()}"></label>
        </div>
        <div>
            <label class="left l2">Баланс:</label>
            <label class="right l2" th:text="*{client.getBalance() + 'р.'}"></label>
        </div>
        <div>
            <label class="left l2"> Аккаунт</label>
            <label class="right l2" th:text="*{client.getAccountStateString()}"></label>
        </div>
        <div class="button-group">
            <a class="button button-edit" type="submit" th:href="'/admin/clients/edit?id=' + ${client.getClientId()}">Изменить</a>
            <a class="button button-delete" type="submit">Удалить</a>
        </div>
    </div>

</div>


