.find{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 12px;
    justify-content: start;
}

.button-find {
    background: #198754;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 2px;
    border: 0;
}

.input-find{
    border-radius: 5px;
    font-size: 18px;
}