.tiles-container {
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.button-add{
    background: #0f80b4;
    border-radius: 4px;
    border: 0;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 10px;
}

.button-success{
    border-radius: 5px;
    background: green;
}

.create_form_label{
    font-size: 10pt;
    margin-top: 5px;
    color: rgba(54, 91, 86, 0.87);
}

.create_form_input{
    border-radius: 5px;
}