.left {
    float: left;
    margin-left: 15px;
}

.right {
    float: right;
    margin-right: 15px;
}

.l1 {
    font-weight: bold;
    font-size: 24px;
    align-self: center;
}

.l2 {
    margin-top: 15px;
    font-size: 18px;
}

.tile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
    background: beige;
    height: 300px;
    width: 400px;
    margin-left: 15px;
    margin-right: 15px;
}
.tile_xl{
    height: 400px;
}

.form_stat{
    height: 300px;
}

.button-group {
    width: 100%;
    height: 25%;
    border-radius: 8px;
    border: 0;
    margin-top: 25px;
    margin-right: 5%;
    margin-left: 5%;
}

.button {
    border-radius: 8px;
    width: 45%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    text-decoration: none;
    color: black;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
}

.button:link{
    color:black;
}
.button:visited{
    color:black;
}
.button:hover{
    color:black;
}
.button:focus{
    color:black;
}
.button:active{
    color:black;
}

.button-edit {
    background: #2186a6;
}

.button-delete {
    background: red;
}

.button-funds{
    background: #2186a6;
    width: 49%;
    height: 100%;
}

.add-funds{
    height: 20%;
    width: 80%;
    margin-left: 15px;
    margin-top: 25px;
}

.input-funds{
    border-radius: 5px;
    font-size: 18px;
    width: 49%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

