<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="*{pageSettings.getCurrentPageName()}"></title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/navbar.css" rel="stylesheet" type="text/css">
    <link href="../../css/tile.css" rel="stylesheet" type="text/css">
    <style>
        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>

</head>
<!--/*@thymesVar id="clients_list" type="ru.alexeyk2021.dbweb.models.Client"*/-->
<!--/*@thymesVar id="pageSettings" type="ru.alexeyk2021.dbweb.transfer.PageSettings"*/-->
<body>
<header th:insert="navbar :: header"></header>
<div th:insert="tile_client">
</div>
</body>
</html>