<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="*{pageSettings.getCurrentPageName()}"></title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/navbar.css" rel="stylesheet" type="text/css">
    <link href="../../css/tile.css" rel="stylesheet" type="text/css">
    <link href="../../css/findForm.css" rel="stylesheet" type="text/css">
    <link href="../../css/page.css" rel="stylesheet" type="text/css">
    <style>
        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>

</head>
<body>
<header th:insert="parts/navbar :: header"></header>

<th:block th:if="*{pageSettings.isClients()}">
    <div class="find">
        <input type="text" class="input-find"></input>
        <input type="submit" class="button-find">
    </div>
    <div class="tiles-container" th:insert="parts/clients_tile"></div>
</th:block>

<th:block th:if="*{pageSettings.isTariffs()}">
    <div class="find">
        <input type="text" class="input-find"></input>
        <input type="submit" class="button-find">
    </div>
    <div class="tiles-container" th:insert="parts/tariffs_tile"></div>
</th:block>

<th:block th:if="*{pageSettings.isAdds()}">
    <div class="find">
        <input type="text" class="input-find"></input>
        <input type="submit" class="button-find">
    </div>
    <div class="tiles-container" th:insert="parts/adds_tile"></div>
</th:block>

</body>
</html>