<div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-5" th:fragment="tile_client">
    <div class="form" th:each="client: ${clients_list}">
        <label class="l1" th:text="*{client.getPhoneNumber()}"></label>
        <div>
            <label class="left l2">Тариф:</label>
            <label class="right l2" th:text="*{client.getTariff().getName()}"></label>
        </div>
        <div>
            <label class="left l2">ФИО:</label>
            <label class="right l2" th:text="*{client.getPersonalInfo().getFullName()}"></label>
        </div>
        <div>
            <label class="left l2">Баланс:</label>
            <label class="right l2" th:text="*{client.getBalance()}"></label>
        </div>
        <div>
            <label class="left l2"> Аккаунт</label>
            <label class="right l2" th:text="*{client.getAccountState()}"></label>
        </div>
        <div class="button-group">
            <input class="button button-edit" type="submit" value="Изменить"/>
            <input class="button button-delete" type="submit" value="Удалить"/>
        </div>
    </div>
</div>