<div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-5" th:fragment="stats_part">
    <!--/*@thymesVar id="stats" type="ru.alexeyk2021.dbweb.transfer.Stats"*/-->
    <div class="tile form_stat">
        <label class="l1">Клиенты</label>
        <div>
            <label class="left l2">Активные:</label>
            <label class="right l2"
                   th:text="*{stats.getActiveClients() + '('+stats.getActiveClientsPers()+')'}"></label>
        </div>
        <div>
            <label class="left l2">Неактивные:</label>
            <label class="right l2"
                   th:text="*{stats.getInactiveClients() + '('+stats.getInactiveClientsPers()+')'}"></label>
        </div>
        <input class="button button-edit" type="submit" value="Изменить" onclick="location.href='/admin/clients'"/>
    </div>

    <div class="tile form_stat">
        <label class="l1">Тарифы</label>
        <div>
            <label class="left l2">Количество:</label>
            <label class="right l2"
                   th:text="*{stats.getTariffQuantity()}"></label>
        </div>
        <div>
            <label class="left l2">Популярный:</label>
            <div class="right l2" th:each="tariff_name: ${stats.getPopularTariffNames()}">
                <label th:text="*{tariff_name}"></label><br>
            </div>
        </div>
        <input class="button button-edit" type="submit" value="Изменить" onclick="location.href='/admin/tariffs'"/>
    </div>

    <div class="tile form_stat">
        <label class="l1">Доп. услуги</label>
        <div>
            <label class="left l2">Количество:</label>
            <label class="right l2" th:text="*{stats.getAddsQuantity()}"></label>
        </div>
        <div>
            <label class="left l2">Популярная:</label>
            <div class="right l2" th:each="add_name: ${stats.getPopularAddNames()}">
                <label th:text="*{add_name}"><br></label>
            </div>
        </div>
        <input class="button button-edit" type="submit" value="Изменить" onclick="location.href='/admin/adds'"/>
    </div>
</div>